<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>

    <script src="~/Scripts/bootstrap.min.js"></script>
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" />
    <link href="~/Views/Home/style.css" rel="stylesheet" />
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse" title="more options">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @Html.ActionLink("Application name", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li>@Html.ActionLink("Home", "Index", "Home")</li>
                    <li>@Html.ActionLink("About", "About", "Home")</li>
                    <li>@Html.ActionLink("Contact", "Contact", "Home")</li>
                    <li>@Html.ActionLink("Login","Login","Home")</li>
                </ul>
            </div>
        </div>
    </div>
    <div class="container body-content">
        @RenderBody()
        <hr />
        <div id="container">
            <div id="part1">
                <div id="companyinfo">
                    <a id="sitelink" href="#">BBbootstrap</a>
                    <p id="title">Cool and Perfect Snippet code</p>
                    <p id="detail">We create awesome code snippets that will help you in creating your own beautiful site. </p>
                </div>
                <div id="explore">
                    <p id="txt1">Explore</p>
                    <a class="link" href="#">Home</a>
                    <a class="link" href="#">About</a>
                    <a class="link" href="#">Snippet</a>
                    <a class="link" href="#">Careers</a>
                </div>
                <div id="visit">
                    <p id="txt2">Visit</p>
                    <p class="text">Lincoln House </p>
                    <p class="text">78 Bhulabhai Desai Road </p>
                    <p class="text">Mumbai 400 026 </p>
                    <p class="text">Phone: (22) 2363-3611 </p>
                    <p class="text">Fax: (22) 2363-0350 </p>
                </div>
                <div id="legal">
                    <p id="txt3">Legal</p>
                    <a class="link1" href="#">Terms and Conditions</a>
                    <a class="link1" href="#">Private Policy</a>
                </div>
                <div id="subscribe">
                    <p id="txt4">Subscribe to US</p>
                    <form>
                        <input id="email" type="email" placeholder="Email">
                    </form>
                    <a class="waves-effect waves-light btn">Subscribe</a>
                    <p id="txt5">Connect With US</p>
                    <i class="fab fa-facebook-square social fa-2x"></i>
                    <i class="fab fa-linkedin social fa-2x"></i>
                    <i class="fab fa-twitter-square social fa-2x"></i>
                </div>
            </div>
            <div id="part2">
                <p id="txt6"><i class="material-icons tiny"> copyright</i>copyright 2019 BBbootstrap - All right reserved</p>
            </div>
        </div>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
